@model IEnumerable<Strona_do_rezerwacji_biletów.Models.Event>

@{
    ViewData["Title"] = "Wydarzenia";
    var sortedModel = Model.OrderBy(ev => ev.Date);
}

<h1>Dostępne wydarzenia  </h1>
@if(User.IsInRole("Admin") )
{
    <div class="btn-group">
        <a href="@Url.Action("Add", "Events")" class="btn btn-dark mb-2">Dodaj wydarzenie</a>
    </div>
}

<!-- Formularz filtrowania -->
<form method="get" asp-action="Index" asp-controller="Events" class="mb-2">
    <div class="input-group mb-2">
        <input type="text" name="searchQuery" value="@ViewBag.SearchQuery" class="form-control" placeholder="Wyszukaj wydarzenia">
        <select name="category" class="form-select ms-1">
            <option value="">Wszystkie kategorie</option>
            @foreach (var category in ViewBag.Categories as List<string>)
            {
                if (ViewBag.SelectedCategory == category)
                {
                    <option value="@category" selected>
                        @category
                    </option>
                }
                else
                {
                    <option value="@category">
                        @category
                    </option>
                }
            }
        </select>
        <div class="btn-group ms-1" role="group" aria-label="Button group">
            <button type="submit" class="btn btn-dark">Filtruj</button>
            <a href="@Url.Action("Index", "Events")" class="btn btn-secondary">Wyczyść filtry</a>
        </div>
    </div>
</form>

<!-- Tabela wydarzeń -->
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Szczegóły</th>
            <th>Kategoria</th>
            <th>Dostępne bilety normalne</th>
            <th>Dostępne bilety VIP</th>
            <th>    </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in sortedModel)
        {
            <tr>
                <td>@ev.Title</td>
                <td>@ev.Date.ToString("yyyy-MM-dd")</td>
                <td>@(ev.Description.Length > 10 ? ev.Description.Substring(0, 10) + "..." : ev.Description)</td>
                <td>@ev.Category</td>
                <td>@ev.AvailableNormalSeats</td>
                <td>@ev.AvailableVIPSeats</td>
                <td>
                    <a href="@Url.Action("Details", "Events", new { id = ev.Id })" class="btn btn-secondary">Szczegóły wydarzenia</a>
                </td>
            </tr>
        }
        @if (!Model.Any())
        {
            <tr>
                <td colspan="7" class="text-center">Brak dostępnych wydarzeń.</td>
            </tr>
        }
    </tbody>
</table>